html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

body {
  background-color: #fffacd;
}

header {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #8b7194;
  left: 0;
  top: 0;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

footer {
  display: block;
  background-color: #8b7194;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.nav-bar-container {
  display: block;
}

.main-body {
  display: block;
  height: 70%;
}

.my-name {
  color: #fffacd;
}
